body,
html {
    height: 100%
}

body {
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    background: url("images/background.jpg");
    background-attachment: fixed;
}

/*Header*/

#header {
    height: 100%;
}


/*Section Wrapper*/
#wrapper {
    height: 100%;
    background-repeat: no-repeat;
    background: url("images/section.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 1em solid red;

}

/*Soup Wrapper*/
#wrapper1 {
    height: 100%;
    background-repeat: no-repeat;
    background: url("images/foodiesfeed.com_minimal-sushi-on-wooden-background.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 1em solid red;

}

#content {
    height: 100%;
    width: 100%;
    display: table;
}

#content-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#header img {
    width: 23em;
    display: inline;
}

#header p {
    font-size: 3em;
    font-weight: bold;
    margin: 1em 0;
}

#header p:hover {
    color: white;
}

#header #content a {
    background-color: white;
    font-size: 4em;
    padding: 0.15em 0.5em;
    color: black;
    text-decoration: none;
    opacity: 0.6;
    border: 0.15em solid black;
}

#header #content a:hover {
    background-color: navajowhite;
    opacity: 1;
}

/*Navbar*/

.navbar {
    background-color: transparent;
    border: 0;
    padding: 2em;
}

.navbar button {
    background-color: red;
}

.navbar button:hover {
    background-color: black!important;

}

.navbar-brand {
    color: yellow!important;
    font-size: 6em;

}

.navbar a:not(.navbar-brand) {
    color: red!important;
    font-size: 3em;
    font-weight: bolder;
}

.navbar a:hover {
    color: black!important;
}


/*Navbar Finish*/

/*photos*/

#photos {
    padding: 3em 2em;
}

.col-md-4 {
    position: relative;
}

#photos img {
    width: 100%;
    height: 30em;
    margin: 2em 0;
    border-radius: 2em;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}

#photos img:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

#photos h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);    
    transform: translate(-50%, -50%);
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    color: red;
    display: none;
    font-size: 7em;

}

#photos .col-md-4:hover h2 {
    display: block;
}

/*Photos Finish*/


#form {
    padding: 3em 2em;
}

#form h1 {
    color: red;
}

.form {
    background-color: black;
    opacity: 0.6;
    padding: 2em 1em;
    height: 60em;

}

























.form h3 {
    color: red;
}

.form p {
    color: white;
    font-size: 2em;
}

.form button {
    background-color: red;
    font-size: 3em;
}

.iframe {
    padding: 2em 1em;
    height: 60em;
    background-color: white;
}


.iframe iframe {
    height: 40em;
}

/*footer*/

footer .fa {
    color: blue;
    font-size: 4em;
}


footer .fa:hover {
    color: white;
    -webkit-transform: scale(1.15);
    transform: scale(1.20);
}



footer h3 {
    color: red;
    font-size: 3em;
}


footer h3:hover {
    color: white;
}
 @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;